<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Message Board</title>
</head>
<body>
    <h1>The Dojo Message Board</h1>
    <hr>
    <form action="/add" method="post">
        <p>Name:</p> 
        <p><input type="text" name="name"></p>
        <p>Message:</p> <p><textarea name="text" cols="30" rows="10"></textarea></p>
        <p><input type="submit" value="Submit Message"></p>
    </form>
    <hr>
    <% for( post of posts){ %>
        <h3>Name: <%= post.name %> </h3>
        <h4>Message: <%= post.text %></h4>
        <% for( comment of post.comments){ %>
            <p>Name: <%= comment.name %></p>
            <p>Comment: <%= comment.text %></p>
            <br>
        <% } %>
        <form action="/post/<%= post.id %>" method="post">
            <p>Name:</p> 
            <p><input type="text" name="name"><p>
            <p>Comment:</p>
            <p><textarea name="text" cols="30" rows="3"></textarea><p>
            <p><input type="submit" value="Submit Comment"></p>
        </form>
        <hr>
    <% } %>
</body>
</html>